<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="de.alpharogroup.collections.pairs.ImmutableBoxTest"/>
      <class name="de.alpharogroup.collections.pairs.KeyMapPairTest"/>
      <class name="de.alpharogroup.collections.pairs.KeySetPairTest"/>
      <class name="de.alpharogroup.collections.pairs.KeyValuePairTest"/>
      <class name="de.alpharogroup.collections.pairs.KeyValuesPairTest"/>
      <class name="de.alpharogroup.collections.pairs.PairTest"/>
      <class name="de.alpharogroup.collections.pairs.QuattroTest"/>
      <class name="de.alpharogroup.collections.pairs.TripleTest"/>
      <class name="de.alpharogroup.collections.pairs.ValueBoxTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->